.table {
  margin: 20px;
  border-collapse: collapse;
  &Header {
  }
  &row {
  }
  &__col { 
    width: 100%;
    white-space: nowrap;
    &:first-child {
      text-align: left;
    }
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
  }
}