.table {
  margin: 10px;
  &__firstCol {
    flex: 0 0 170px;
  }
  &__lastCol {
    flex: 0 0 170px;
    text-align: center;
  }
  &__days {
    display: flex;
  }
  &Row {
    display: flex;
    position: relative;
  }
  &__col { 
    flex: 0 0 100px;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
  }
}